body {
  background-color: #dcdfce;
  margin-top: -20px;
  margin-bottom: -20px;
}
#parent {
  width: 80%;
  background-color: #f7f8f5;
  margin: auto;
}

/* #nav {
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
} */

.lasttext {
  margin-top: 5px;
}
