* {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  background-color: #dcdfce;
  margin-top: -20px;
  margin-bottom: -20px;
}
#main {
  width: 80%;
  background-color: white;
  margin: auto;
}

#content {
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 20px;
  color: #02475b;
}
#content > h3 {
  margin-bottom: 10px;
}
#content > p {
  margin-top: 10px;
  font-size: 14px;
}
