#page{
    width: 80%;
    margin: auto;
}
#div2{
    display: flex;
}
#img{
    width: 70%;
    margin-top: 50px;
    margin-right: 15px;
}
#right{
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    width: 30%;
    margin-top: 50px;
}
.pres{
    display: flex;
    line-height: 25px;
    margin-left: 20px;
    font-family: sans-serif;
}
.pres > img{
    margin-top: 30px;
}
.pres > h3{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    font-weight: 600;
    color: #02475b;
}
button{
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 15px 90px;
    border: none;          
    border-radius: 10px; 
    background-color: rgb(255, 186, 57);
    color: #ffffff;
}
#category{
    display: flex;
    justify-content: space-between;
}
.pop{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 700;
    color: #02475b;
    letter-spacing: 1px;
}
.viewall {
    color: #fcb716;
    cursor: pointer;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }

#div3{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-top: 0px;
    align-content: center;
}
#div3 > div{
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}
#div3 > div > img{
    margin-top: 25%;
    margin-left: 30%;
}
#div3 > div > p{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: #02475b;
}
#div4{
    margin-top: 70px;
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}
#div4 > img{
    width: 100%;
    height: 100%;
}
#healthCheackup{
    display: flex;
}
#healthCheackup > h4{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 700;
    color: #02475b;
    letter-spacing: 1px;
}

#div5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-top: 0px;
    align-content: center;
}
#div5 > div{
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

#div6{
   border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    margin-top: 50px;
}
#div6 > img{
    margin-top: 15px;
    margin-left: 20px;
}
#div6 > span{
    color: #02475b;
    font-size: large;
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20%;
}
#tests{
    display: flex;
}
#tests > h4{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 700;
    color: #02475b;
    letter-spacing: 1px;
}

#div7{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    align-content: center;
    /* margin-left: 15px; */
    
}
#div7 > div{ 
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}
.imgg{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.typetitle{
    margin-left: 10px;
    margin-top: 0px;
    font-family: sans-serif;
    color: #02475b;
    font-weight: 600;
}
.typepara{
    font-size: smaller;
    margin-left: 10px;
    margin-top: 0px;
    font-family: sans-serif;
    color: #02475b;
}
.hor{
    margin-left: 10px;
    margin-right: 10px;
}
.typeprice{
    margin-left: 10px;
    margin-top: 40px;
    font-family: sans-serif;
    color: #02475b;
    font-weight: 600;
}
.button{
    margin-left: 10px;
    margin-top: 0px;
    font-weight: 700;
    font-family: sans-serif;
    color: #fcb714;
}

#diabetes > h4{
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 700;
    color: #02475b;
    letter-spacing: 1px;
}
#diabetes{
    display: flex;
}
#div8{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    align-content: center;
}
#div8 > div{
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}
/* #div8 > div > typeprice{
    margin-top: 0px;
} */
.disc{
    margin-left: 10px;
    margin-top: 0px;
    font-weight: 800;
    font-family: sans-serif;
    color: #34aa55;
    font-size: smaller;
}
.mrpp{
    margin-left: 10px;
    margin-top: 0px;
    font-weight: 700;
    color: gray;
    font-family: sans-serif;
    font-size: small;
}
#booking > h4{
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: #818b8d;
    letter-spacing: 1px;
}
* small{
    font-weight: 100;
}
#div9{
    display: flex;
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    margin-top: 5px;
}
#div9 > div{
    margin: auto;
    color: #02475b;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: small;
    line-height: 10px;
    letter-spacing: 1px;
}
#wellness{
    display: flex;
}

#wellness > h4{
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 700;
    color: #02475b;
    letter-spacing: 1px;
}

#div10{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    align-content: center;
    }
#div10 > div{
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}
#div11{
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 30px;
    letter-spacing: .5px;
    font-family: sans-serif;
    color: #02475b;
}
