#large {
  width: 95%;
  margin: auto;
  padding-top: 97px;
}
h4 {
  margin-bottom: 0px;
}
#mid {
  display: flex;
  margin-top: 30px;
}
.left {
  width: 65%;
  margin-right: 2%;
}
.bord {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px 35px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.colorteal {
  color: #337e93;
}
.font {
  font-family: "Nunito", sans-serif;
}
.buttonbox {
  margin-top: 20px;
}
#fourcolum {
  display: grid;
  width: 95%;
  grid-template-rows: 235px;
  grid-template-columns: repeat(4, 170px);
  grid-gap: 20px;
  grid-template-areas: "a b c d";
  justify-content: center;
  margin: auto;
  margin-bottom: 8px;
}
#fourcolum > div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  padding: 22px;
}
#fourcolum > div:first-child {
  grid-area: a;
}
#fourcolum > div:nth-child(2) {
  grid-area: b;
}
#fourcolum > div:nth-child(3) {
  grid-area: c;
}
#fourcolum > div:nth-child(4) {
  grid-area: d;
}
button {
  background-color: transparent;
  padding: 2px 10px;
  color: #337e93;
  border-radius: 8px;
  margin-left: 9px;
  margin-bottom: 34px;
  border: 1px solid black;
}
h3 + img {
  height: 50px;
}

.line {
  padding-top: 15px;
  color: rgb(2, 71, 91, 0.6);
}
.line2 {
  line-height: 5px;
  margin-top: -8px;
}
.right {
  width: 31%;
  height: 798px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
}
.marginleft {
  padding-left: 6px;
}
h4 + ul {
  font-size: 14px;
}
#rightbox {
  padding: 1px 13px;
}
.rightmobile {
  margin-top: 15px;
  padding: 15px;
  border-color: #f7f8f5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#usemobile {
  margin-top: 45px;
}
#usemobile > h4 {
  font-weight: normal;
}
#iconwith {
  display: flex;
}
#iconwith > div > p {
  line-height: 5px;
  font-size: 15px;
  margin-top: 16px;
  cursor: pointer;
}
#iconwith > div > img {
  margin-right: 20px;
}
#payment {
  padding: 15px 7px;
}
#payment > div {
  display: flex;
  cursor: pointer;
}
#payment > div > p {
  font-size: 12px;
  color: #337e93;
}
#payment > div > img {
  margin-right: 5px;
}
#downloadapp {
  margin-top: 43px;
  margin-bottom: 34px;
}
#downloadapp > div {
  display: flex;
  cursor: pointer;
}
#downloadapp > div > img {
  margin-right: 47px;
}
#downloadapp > div > p {
  color: #fdbc6b;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}
#downloadapp > p {
  font-size: small;
  color: #218ac7;
}
.right .start {
  margin-top: -5px;
  margin-bottom: 15px;
}
.searchicon {
  margin-top: 12px;
  font-size: 17px;
}
.textbelow {
  margin-top: 30px;
}
/* Rightbox============================ */

/* content========================== */
#content {
  width: 95%;
  margin: auto;
  background-color: white;
  padding: 20px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
a[href="page.html"] {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#listof > ul > li {
  padding-bottom: 10px;
  line-height: 28px;
}
#consult,
#how {
  padding: 5px;
}
#section {
  height: 350px;
  border: 1ppx solid black;
}
