* {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  background-color: #dcdfce;
  margin-top: -20px;
  margin-bottom: -20px;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
}

#firstdiv {
  /* height: 300px; */
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 6px solid gray; */
  padding: 10px 20px;
  padding-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.viewall {
  color: #fcb716;
  cursor: pointer;
}
.protype {
  color: #02475b;
}
.selecticon {
  font-size: 25px;
  color: #f9d786;
}
.arrow {
  font-size: 10px;
}
.percent {
  font-size: 40px;
}
.text {
  background-color: #f7f8f5;
}
.text > i {
  color: #fcb716;
}
.searchbar {
  width: 90%;
  background-color: #f7f8f5;
  border: none;
}
#left {
  width: 76%;
  margin-right: 3%;
  /* border: 2px solid black; */
}
.image {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}
input[type="text"] {
  height: 50px;
}
#right {
  /* border: 2px solid teal; */
  /* width: 20%;  */
  margin-left: 10px;
}
#right > div:nth-child(1) > p {
  color: rgb(15, 136, 136);
  font-size: small;
}
#right > div:nth-child(1) > p > i {
  margin-right: 10px;
}
#right > div:nth-child(1) {
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #062513;
}
#right > div:nth-child(2) {
  background-color: #f7f8f5;
  border-radius: 8px;
  width: 90%;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-between;
  /* border: 4px solid bisque; */
}
#right > div > div:nth-child(1) {
  width: 80%;
  /* border: 2px solid rgb(3, 2, 41); */
  padding-left: 10px;
  font-family: cursive;
  font-size: small;
  color: #02475b;
}
#right > div > div > button {
  border-radius: 8px;
  color: white;
  background-color: #fcaa16;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}
#right > div > :nth-child(2) {
  width: 20%;
  padding-top: 5px;
  /* border: 2px solid red; */
}
#smash {
  width: 90%;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  background-color: #f7f8f5;
  font-size: 22px;
}
.services {
  height: 150px;
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-rows: 60%;
  grid-template-columns: repeat(6, 15%);
  grid-gap: 15px;
  cursor: pointer;
  align-content: center;
  justify-content: space-around;
}
.services > div {
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
}
.typeimage {
  padding-top: 15px;
  height: 60%;
  width: 25%;
}
.typeclass {
  display: flex;
  justify-content: center;
  height: 60px;
}
.typeclass > p {
  font-family: sans-serif;
  font-size: 15px;
  padding: 15px 15px;
  color: #01475b;
  font-size: x-small;
}
#hotsel {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  padding: 10px 10px;
  line-height: normal;
  /* border: 2px solid cadetblue; */
}
#hotsel > div {
  /* border: 2px solid red; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
}
.namecash {
  font-size: 15px;
  color: #01475b;
}
.prc {
  color: #01475b;
  font-size: 20px;
}
.but {
  font-size: large;
  width: 100%;
  color: #fdcb56;
}
#wintercare {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  padding: 10px 10px;
  line-height: normal;
  /* border: 2px solid cadetblue; */
}
#wintercare > div {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  /* border: 2px solid red; */
}
#covidcare {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  padding: 10px 10px;
  line-height: normal;
  /* border: 2px solid cadetblue; */
}
#covidcare > div {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  /* border: 2px solid red; */
}
#halfprice {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  line-height: normal;
  padding: 10px 10px;
  /* border: 2px solid cadetblue; */
}
#halfprice > div {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  /* border: 2px solid red; */
}
.ads {
  height: 220px;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  cursor: pointer;
}
.ads > div {
  /* border: 2px solid green; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.ads > div:nth-child(3) {
  width: 100%;
}
.ads > div:nth-child(3) > img {
  width: 100%;
  height: 100%;
}
.posters {
  /* border: 2px solid pink; */
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 40% 20% 40%;
  grid-gap: 10px;
  align-content: center;
}
.posters > div {
  /* border: 2px solid blue; */
}
.posters > div:nth-child(1) {
  border-radius: 8px;
  font-family: ibm_plex_sansregular;
  font-size: 25px;
  padding-left: 10px;
  color: #2582a1;
  padding-top: 20px;
}
.posters > div > span {
  border-radius: 5px;
  font-size: 20px;
  color: #2b4d5b;
}
.posters > div:nth-child(2) > img {
  height: 50%;
  margin: auto;
}
#indiamap {
  background-image: url("https://newassets.apollo247.com/images/apollopharmacy/indiaMap.svg");
  background-color: #2582a1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
}
#shopbrand {
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  cursor: pointer;
  align-content: center;
  justify-content: space-around;
  /* border: 2px solid gray; */
  margin-right: 10px;
  margin-left: 10px;
}
#shopbrand > div {
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  height: 80px;
  /* border: 2px solid red; */
}
#shopbrand > div > img {
  width: 35%;
  height: 55%;
  padding-left: 70px;
  padding-top: 20px;
}
#indiamap > p {
  color: #ffffff;
  font-size: x-large;
  padding-left: 20px;
}
#inddet {
  display: flex;
  padding-left: 20px;
}
#inddet > p {
  color: #ffffff;
  padding-left: 5px;
}
#inddet > p:nth-child(3) {
  padding-left: 50%;
  font-size: large;
}
.details {
  padding: 20px;
}
.details > h4 {
  color: #02475b;
}
.details > p {
  color: #02475b;
}
#smash {
  color: #02475b;
  height: 45px;
  padding: 0px 0px 10px 15px;
}
#smash > p > i:nth-child(2) {
  margin-left: 30px;
}
.protype {
  font-weight: 600;
}
.title > p:nth-child(1) {
  color: #02475b;
  font-weight: bold;
}
.hotsellers {
  height: 300px;
}
.prc {
  line-height: 8px;
}
