* {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  background-color: #dcdfce;
  margin-top: -20px;
  margin-bottom: -20px;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
}

#firstdiv {
  /* height: 300px; */
  display: flex;
  margin-left: 20px;
  margin-right: 20px;

  /* border: 6px solid gray; */
  padding: 10px 20px;
  padding-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.selecticon {
  font-size: 25px;
}
.arrow {
  font-size: 10px;
}
.percent {
  font-size: 40px;
}
.text {
  background-color: #f7f8f5;
}
.viewall {
  color: #fcb716;
  cursor: pointer;
}

.searchbar {
  width: 90%;
  background-color: #f7f8f5;
  border: none;
}
#left {
  width: 76%;
  margin-right: 3%;
  /* border: 2px solid black; */
}
.image {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}
input[type="text"] {
  height: 50px;
}
#right {
  /* width: 20%;  */
  margin-left: 10px;
}
#right > div > span {
  color: rgb(4, 78, 78);
  font-size: 15px;
}
#right > div:nth-child(1) {
  display: flex;
  height: auto;
  cursor: pointer;
  /* cursor: pointer;
  border: 2px solid rgb(16, 206, 32); */
  padding-left: 15px;
  color: #062513;
}
#right > div:nth-child(2) {
  background-color: #f7f8f5;
  border-radius: 8px;
  width: 90%;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-between;
  /* border: 4px solid bisque; */
}
#right > div > div:nth-child(1) {
  width: 80%;
  /* border: 2px solid rgb(3, 2, 41); */
  padding-left: 10px;
  font-family: cursive;
}
#right > div > div > button {
  border-radius: 8px;
  color: white;
  background-color: #fcaa16;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}
#right > div > :nth-child(2) {
  width: 20%;
  padding-top: 5px;
  /* border: 2px solid red; */
}
#right > div:nth-child(3) {
  width: 90%;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #f7f8f5;
  font-size: 22px;
}
.services {
  height: 150px;
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-rows: 60%;
  grid-template-columns: repeat(6, 15%);
  grid-gap: 15px;
  cursor: pointer;
  align-content: center;
  justify-content: space-around;
}
.services > div {
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
}
.typeimage {
  padding-top: 15px;
  height: 60%;
  width: 25%;
  margin-right: 8px;
}
.typeclass {
  display: flex;
  justify-content: center;
  /* padding: 10px 10px; */
}
.typeclass > p {
  font-family: sans-serif;
  font-size: 15px;
  padding: 15px 5px;
}
.products {
  height: 220px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  cursor: pointer;
  align-content: center;
}
.products > div {
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.ads {
  height: 220px;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  cursor: pointer;
}
.ads > div {
  /* border: 2px solid green; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.ads > div:nth-child(3) {
  width: 100%;
}
.ads > div:nth-child(3) > img {
  width: 100%;
  height: 100%;
}
.posters {
  /* border: 2px solid pink; */
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 40% 20% 40%;
  grid-gap: 10px;
  align-content: center;
}
.posters > div {
  /* border: 2px solid blue; */
}
.posters > div:nth-child(1) {
  border-radius: 8px;
  font-family: ibm_plex_sansregular;
  font-size: 25px;
  padding-left: 10px;
  color: #2582a1;
  padding-top: 20px;
}
.posters > div > span {
  border-radius: 5px;
  font-size: 20px;
  color: #2b4d5b;
}
.posters > div:nth-child(2) > img {
  height: 50%;
  margin: auto;
}
#indiamap {
  background-image: url("https://newassets.apollo247.com/images/apollopharmacy/indiaMap.svg");
  background-color: #2582a1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.details {
  border: 2px solid cyan;
}
